################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QOLFixes
/Owen013.QOLFixes/obj
/.vs/Owen013.QOLFixes/v17
