################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Owen013.SuitToggle/obj/Debug/net48
/Owen013.SuitToggle/obj/Release/net48
/Owen013.HatchlingOutfit/.vs/HatchlingOutfit
/Owen013.HatchlingOutfit/obj
/Owen013.HatchlingOutfit/.vs/ProjectEvaluation
